

.App {
  font-family: 'Poppins', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
.logo {
  opacity: 0.3;
}
.loader {
  padding-top: 20%;
  width:80px;
}
.authbox {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13%;
  color: #1b2979;
}

.authbox p {
  padding-bottom: 0;
  margin-bottom: 0;
}

input[type=text] {
  width: 303px;
  height: 50px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px rgba(120, 115, 156, 0.5);
  font-size: 30px;
  margin-bottom: 5px;
  color: #1b2979;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.authbox p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.42;
  text-align: center;
}

.authbox h5 {
  padding:0;
  margin:0;
  opacity: 0.7;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 303px;
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  background-color: #00d8aa;
  box-shadow: 0 8px 13px 0 rgba(0, 216, 170, 0.23);
  cursor: pointer;
}

form {
  padding-top: 0;
}
input[type=submit] {
  margin-top: 20px;
  display: flex;
  border:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 315px !important;
  height: 50px;
  color:#ffffff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  background-color: #00d8aa;
  box-shadow: 0 8px 13px 0 rgba(0, 216, 170, 0.23);
  cursor: pointer;
      font-size: 17px;
}
input[type=submit]:hover {
  opacity: 0.4;
}

.button:hover {
  opacity: 0.4;
}

.button a {
  text-align: center;
  color: #ffffff;

  text-decoration: inherit; /* no underline */
}
.result {
    display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  color: #1b2979;
}
/* place media queries here for width*/
.resultbox {
  width: 350px;
  height: 528px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 15px 30px 0 rgba(27, 41, 121, 0.05);
  margin-bottom: 20px;
}

.rule {
  height: 1px;
  border-bottom: solid 1px #e5eaf6;
}

.code {
    font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #999fc2;
}

.result_text {
  padding:0;
  margin:0;
    font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #00d8aa;
}
.origin {
  margin-bottom: 20px;
}
.origin_text {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #1b2979;
}

.tracker_text {
  margin:20px;
  margin-top: 40px;
  font-size: 10px;
  font-weight: 300;
  color: #999fc2;
}

.inliner {
  display:flex;
  justify-content: center;
  align-items: center;
}

.inliner img {
  margin-right:10px;
}

.warning {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  background-color: black;
  opacity:0.3;
  position: absolute;
  bottom:0;
  color:#ffffff;
}